%section
  .container
    / page header
    #location.page-header
      %h1
        Restaurants in 
        %span.text-danger 
          =@hood.name
    / EOf page heade
    / page grids
    .row
      / left col
      .col-sm-3.col-md-3
        =render partial: "shared/locations"
      / Eof left-col
      / middle col
      #content.col-lg-6
        / <p id="notice"><haml_loud> notice </haml_loud></p>
        = render partial: "shared/show_sellers", locals: {sellers: @sellers}
      / eof middle-col
      / right col
      .col-lg-3
        = render partial: "shared/side"
    / eof grid
  / Eof container