<section>
<div class="container">
<!-- page header -->
<div id="location" class="page-header">
  <h1 class="text-center">List of available Restaurants</h1>
</div><!-- EOf page heade -->

<!-- page grids -->
<div class="row">
<!-- left col -->
<div class="col-lg-3">
  <div class="panel panel-info">
    <div class="panel-heading">Locations</div>
    <div class="panel-body">
    <ul>
    <% locations.each do |location| %>
      <li> <%=link_to "#{location.name}",location, remote: true %> </li>
      <%end%>
    </ul>
    </div><!--eof panel-body  -->
  </div><!-- Eof panel -->
</div><!-- Eof left-col -->

<!-- middle col -->
<div id="content" class="col-lg-6">
<!-- <p id="notice"><%= notice %></p> -->
<%= render partial: "shared/show_sellers", locals: {sellers: @sellers}%>
</div><!-- eof middle-col -->
<!-- right col -->
<div class="col-lg-3">
<!-- panel order -->
<div class="panel panel-primary">
  <div class="panel-heading">
    Current Order
  </div>
  <div class="panel-body">
    NO ITEMS IN YOUR ORDER  
  </div>
</div>
<!-- panel contacts -->
<div class="panel panel-danger">
  <div class="panel-heading">
    Need Help?
  </div>
  <div class="panel-body">
  <p>call to order</p>
    <h3><%= fa_icon "phone"%> 0729956363</h3>  
  </div>
</div>
</div><!-- EOF right-col -->
</div><!-- eof grid -->
</div><!-- Eof container -->
</section>