<div class="restaurant-banner hidden-xs hidden-sm">
    <div class="container">
       <div class="row restaurant-banner-info">
           <div class="col-md-4 the-rest-info">
               <h3>KFC - Mombasa Road</h3>
               <span class="info food-type">Fast Food, KFC Restaurants</span>
               <div class="restaurant-rating">3.3</div>
            </div>
            
           <div class="col-md-2 rest-banner-cash">
               <h4><i class="fa fa-clock-o"></i> <span itemprop="priceRange">$</span></h4>
            </div>
                       
            <div class="col-md-2 rest-banner-status">
                <h3><span class="label label-success">Open</span></h3>
            </div>
            
           <div class="col-md-4 restaurant-banner-image">
               <img alt="" class="img-responsive">
            </div>
    </div>
</div>
