<div class="restaurant-banner hidden-xs hidden-sm">
    <div class="container">
       <div class="row restaurant-banner-info">
           <div class="col-md-4 the-rest-info">
               <h3><%=  @seller.name %></h3>
               <div class="restaurant-rating">
                   <span>Rating</span>
                 3.3
                 <%= rating_for @seller %>
                </div>
                <div>
                    <span>Opening Hours</span>
                </div>
                 <span class="info food-type"><%= @seller.description %></span>
            </div>
            
           <div class="col-md-2 rest-banner-cash">
               <h4><i class="fa fa-clock-o"> 8 Am - 9 Pm</i></h4>
            </div>
            <div class="col-md-2 rest-banner-status">
                <h3><span class="label label-success">Open</span></h3>
            </div>
            
           <div class="col-md-4 restaurant-banner-image">
               <%= image_tag(@seller.image_url, alt: @seller.name, class: "img-responsive img-circle") %>
            </div>
    </div>
</div>
