
/ panel order
.panel.panel-primary
  .panel-heading
    Current Order
  .panel-body
    NO ITEMS IN YOUR ORDER
/ panel contacts
.panel.panel-danger
  .panel-heading
    Need Help?
  .panel-body
    %p call to order
    %h3
      = fa_icon "phone"
      0729956363
/ EOF right-col