%section.intro
  .container
    -if notice
      %i#notice{:data=> notice }
      :javascript
        var a = $('#notice').attr("data");
        swal({
          title: "Acess denied",
          text: a,
          type: "warning",
        });
    .home-page
      %h1 Order Your Favourite Food and Groceries Online!
      .row.search-row 
        .col-lg-4.col-sm-4
          %h1 Start Here
        .col-lg-8.col-sm-8
          .row
            .col-sm-10
              =select_tag "locsearch", grouped_options_for_select(@grouped_options), prompt: 'Search By Location', class: 'chosen-select form-control'

%section.intro_ad
  .container

%section
  .container
    %hr
    .row
      .col-md-9
        .row
          .col-md-3
            %h3
              =fa_icon "map-marker"
              POPULAR HOODS
            %ul
              -@cities.each do|city|
                -city.hoods.each do |hood|
                  %li
                    =link_to hood.name, hood_url(hood.id)
          .col-md-4
            %h3
              =fa_icon "cutlery"
              POPULAR RESTAURANTS
            %ul
              -@sellers.each do|seller|
                %li
                  =link_to seller.name, menu_url(seller)
      .col-md-3
        .panel.panel-danger
          .panel-heading
            Need Help?
          .panel-body
            %p call to order
            %h3
              = fa_icon "phone"
              0729956363
        