<section class="intro">
    <div class="container">
      <h1>Order Your Favourite Food and Groceries Online!</h1>
      <div class="row search-row">
        <div class="col-lg-4 col-sm-4">
          <h1>Start Here</h1>
        </div>
        <div class="col-lg-8 col-sm-8">
          <div class="row">
            <div class="col-sm-3">
              <select class="form-control" id="city">
                <option>--City--</option>
                <option>Nairobi</option>
                <option>Mombasa</option>
                <option>Nakuru</option>
              </select>
            </div>
            <div class="col-sm-9">
              <select class="form-control" id="nearby">
                <option>-- Neighborhood --</option>
                <option>Nairobi</option>
                <option>Mombasa</option>
                <option>Nakuru</option>
              </select>
            </div>
          </div>r
        </div>
      </div>
   </div>
</section>
<section>
   <div class="container">

 </div>
</section>

<!--#https://www.sitepoint.com/devise-authentication-in-depth/-->