.navbar-default{
	background-color: orange;
	margin-bottom: 0px;
	border: 0px;
	border-radius: 0px;
}

.well{
	margin-bottom:1px
}


a {
    color: #369;
    outline: none !important;
    -moz-transition: all .2s ease-in;
    -webkit-transition: all .2s ease-in;
    -o-transition: all .2s ease-in;
    transition: all .2s ease-in
}

a:hover,
a:focus {
    text-decoration: none;
    cursor: pointer;
    color: #fa7722
}

ul,
ol {
    list-style: none;
    margin: 0;
    padding: 0
}

body {
    margin: 0;
    padding: 0;
    color: #333;
    font-family: 'Roboto', sans-serif;
    font-size: 13px;
    line-height: 21px;
    position: relative
}

body,
html,
#wrapper {
    height: 100%;
    width: 100%
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: Roboto Condensed, Helvetica Neue, Helvetica, sans-serif;
    font-weight: normal;
    margin: 0;
    padding-bottom: 15px
}

h1 {
    font-size: 30px;
    line-height: 35px
}

h2 {
    font-size: 24px;
    line-height: 28px
}

h3 {
    font-size: 20px;
    line-height: 24px
}

h4 {
    font-size: 17px;
    line-height: 20px
}

h5 {
    font-size: 14px;
    line-height: 20px
}

h6 {
    font-size: 12px;
    line-height: 20px
}

.title-2 {
    border-bottom: 1px solid #e6e6e6;
    font-size: 18px;
    margin-bottom: 20px;
    text-transform: uppercase
}

.title-2 span {
    font-weight: lighter
}

.title-5 {
    font-family: Roboto, Helvetica, Arial, sans-serif;
    border-bottom: 1px solid #ebebeb;
    color: #080808;
    margin-top: 10px;
    padding: 5px;
    text-transform: uppercase;
    background-color: #ccc
}


.intro {
    width: 100%;
    background: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.9)), image-url('kfc_menu.png');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 450px;
    transition: all 400ms cubic-bezier(0.25, 0.1, 0.25, 1) 0s;
    -webkit-transition: all 400ms cubic-bezier(0.25, 0.1, 0.25, 1) 0s
}
.intro_ad{
background-color:orange;
 height: 100px; 
}

.intro .container {
    max-width: 800px
}

.intro h1,
.intro-title {
    color: #fff;
    font-family: Roboto;
    font-size: 30px;
    font-weight: bold;
    letter-spacing: -.3px;
    margin-bottom: 10px;
    padding-bottom: 0;
    text-shadow: 1px 1px 0 rgba(0, 0, 0, 0.2);
    transition: font 400ms cubic-bezier(0.25, 0.1, 0.25, 1) 0s
}

.intro p {
    color: #e8eced;
    font-size: 18px;
    font-weight: 300;
    text-shadow: 0 1px 1px rgba(0, 0, 0, 0.2)
}


 .home-page{
   margin-top: 100px;  
 }



@media(max-width:767px) {
    .locinput {
        border-right: none !important;
        border-bottom: solid 1px #ddd !important
    }
    .intro h1 {
        font-size: 30px;
        margin-bottom: 10px;
        padding-bottom: 0;
        line-height: 34px
    }
    .intro p {
        color: #e8eced;
        font-size: 16px;
        line-height: normal
    }
}


.cat-list {
    display: block;
    margin-bottom: 30px;
    line-height: 24px
}

.cat-list h3,
.title-3 {
    font-family: Open Sans Condensed, Helvetica Neue, sans-serif;
    font-weight: bold;
    text-transform: uppercase
}

.cat-list h3 a,
.cat-list h3 {
    color: #03876d;
    position: relative
}

.cat-list-border h3 {
    border-bottom: 1px solid #ddd;
    margin-bottom: 10px;
    padding-bottom: 10px;
    position: relative
}

.cat-title a {
    display: inline-block;
    padding-left: 48px;
    padding-top: 0;
    position: relative
}

.cat-list h3 .count {
    clear: both;
    color: #777;
    display: block;
    font-size: 12px;
    font-weight: normal;
    line-height: 1;
    padding: 3px 0;
    text-align: left;
    vertical-align: baseline;
    white-space: nowrap
}

.cat-title i {
    position: absolute;
    left: 0;
    top: 0
}

.cat-list.arrow {
    margin-bottom: 0
}

.cat-list ul li a,
.cat-list li a {
    border-radius: 2px;
    font-style: normal;
    transition: all .1s ease 0s;
    font-size: 12px;
    color: #4e575d
}

.cat-list ul li a:hover,
.cat-list a:hover {
    text-decoration: underline;
    color: #345676
}

.cat-list.arrow li {
    border-bottom: 1px dotted #ddd;
    padding: 5px 14px
}

.cat-list.arrow li:last-child {
    border-bottom: 0
}

.cat-list.border li {
    border-bottom: 1px dotted #ddd;
    padding: 7px 15px
}

.cat-list.border li.active,
.cat-list.border li:hover {
    background-color: #ececec
}

.cat-list.border li.active a {
    box-sizing: border-box;
    color: #626262
}

.cat-list.border li:last-child {
    border-bottom: 0
}


.macart .inner-box {
    min-width: 300px;
    border: 2px solid #c93700;
    padding: 0
}

.macart h3 {
    color: #fff;
    padding: 10px;
    background-color: #c93700
}

.macart td {
    width: 50%
}

.affix {
    top: 20px;
    min-width: 300px
}

.info {
    color: #999
}

.basket {
    max-height: 400px;
    overflow-y: auto
}

.basket ul {
    list-style: none;
    margin: 0;
    padding: 0
}

.basket ul li {
    padding: 8px 10px
}

.basket ul li+li {
    border-top: 1px solid #f4f4f4
}

.basket ul li .item {
    overflow: hidden
}

.basket ul li .item .actions {
    float: right
}

.basket ul li .item .actions .price {
    display: inline-block;
    vertical-align: middle;
    padding: 5px 0;
    margin: 0 5px 0 0
}

.basket ul li .item .msg {
    margin: 0;
    font-size: 12px;
    line-height: 1em
}

.basket ul li .item .msg .selector {
    display: inline-block;
    vertical-align: middle;
    margin: 0 4px 0 0
}

.basket ul li .item .msg .selector select {
    vertical-align: middle;
    display: inline-block
}

.basket ul li .item .msg .name {
    color: #464646;
    display: inline-block;
    vertical-align: middle;
    padding: 5px 0
}

.basket ul li .item .msg .info {
    margin: 4px 0 0 0
}

.basket ul li.total {
    border-top: 2px solid #464646;
    font-weight: bold
}


.item-list {
    border-bottom: 1px solid #ddd;
    clear: both;
    padding: 15px;
    height: auto;
    width: 100%;
    display: block;
    position: relative;
    overflow: hidden;
    transition: background .25s ease-in;
    -webkit-transition: background .25s ease-in
}

.item-list:hover {
    background: #f6f6f5
}

.adds-wrapper .item-list:last-child {
    border-bottom: 0
}

.category-list {
    background: none repeat scroll 0 0 #fff;
    border-radius: 3px 3px;
    display: block;
    box-shadow: 0 1px 1px rgba(180, 180, 180, 0.5)
}




.content-footer {
    background: #f8f8f8;
    position: relative;
    padding: 8px;
    border-top: 1px solid #ddd;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.05) inset
}

.panel-footer {
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.05) inset
}

.content-footer .btn {
    margin-right: 8px
}

@media(max-width:360px) {
    .content-footer .btn {
        margin-bottom: 4px
    }
}

.text-count {
    color: #9a9a9a;
    font-size: 12px
}




.breadcrumb {
    background: 0;
    border-radius: 0;
    list-style: outside none none;
    margin-bottom: 8px;
    padding: 8px 0
}



.footer {
    background: #eee;
    border-top: solid 1px #ddd;
    padding: 30px 0;
    font-size: 12px;
    color: #4e575d;
    letter-spacing: .5px
}

.footer-nav li a {
    border-left: 1px solid #ddd;
    color: #4e575d;
    font-size: 12px;
    padding: 0 10px;
    text-transform: uppercase
}

.footer-nav li a:first-child {
    border-left: 0
}

@media(max-width:767px) {
    .footer ul {
        float: none;
        padding: 0;
        text-align: center;
        width: 100%
    }
    .footer ul:last-child {
        margin-top: 20px
    }
}

@media(max-width:767px) {
    .intro {
        height: auto;
        padding-bottom: 40px;
        padding-top: 40px
    }
}


ul.food-menu {
    list-style: none;
    margin: 0;
    padding: 0
}

ul.food-menu li {
    padding: 12px 0
}

ul.food-menu li+li {
    border-top: 0px solid #f4f4f4
}

ul.food-menu li .item {
    overflow: hidden;
    padding: 0 12px 0 0
}

ul.food-menu li .actions {
    float: right
}

ul.food-menu li .actions .button {
    display: block
}

ul.food-menu li .actions .button+.button {
    margin: 6px 0 0 0
}

ul.food-menu li .item .name {
    color: #464646;
    font-size: 18px;
    line-height: 1.2em;
    margin: 0 0 8px
}

ul.food-menu li .item .name .asterisk {
    color: #ffa900;
    cursor: default
}

ul.food-menu li .item .info {
    font-size: 12px;
    line-height: 1.4em
}

.menu_item_img{
  width:120px;  
  height:130px;  
}

.pricenr {
    display: inline-block;
    font-size: 16px;
    line-height: 1.6em;
    padding: 4px 5px 0 0;
    border-bottom: 2px solid #ffa900
}

.basket {
    font-size: 80%
}

.restaurant-banner {
    padding-top: 40px;
    height:180;
    background: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.9)), image-url('kfc_menu.png');
    background-position: 20% 50%;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    margin: 0 !important
}

.restaurant-banner-info {
    padding-left: 30px;
    position: relative;
    margin: 0 !important
}


.the-rest-info {
    background: gray;
    color:white;
 
    border-top-left-radius:10px;
    border-top-right-radius:10px;
    -moz-border-top-left-radius:10px;
    -webkit-border-top-left-radius:10px;
    -o-border-top-left-radius:10px;
    -moz-border-top-right-radius:10px;
    -webkit-border-top-right-radius:10px;
    -o-border-top-right-radius:10px;
}


.morecontent span {
    display: none
}

.rest-banner-status {
    color: white;
    position: absolute;
    bottom: 0;
    left: 60%
}

.rest-banner-cash {
    color: white;
    position: absolute;
    bottom: 0;
    left: 50%
}

.rest-banner-delivery {
    color: white;
    position: absolute;
    bottom: 0;
    left: 40%
}

.restaurant-banner-image {
    position: absolute;
    left: 70%;
    top: -30px;
    max-height: 10
}

.row {
    margin: 0 !important
}

.nav-tabs {
    border-bottom: 2px solid #DDD
}
.nav-tabs>li.active>a,
.nav-tabs>li.active>a:focus,
.nav-tabs>li.active>a:hover {
    border-width: 0
}
.nav-tabs>li>a {
    border: 0;
    color: #666
}
.nav-tabs>li.active>a,
.nav-tabs>li>a:hover {
    border: 0;
    color: #4285f4 !important;
    background: transparent
}
.nav-tabs>li>a::after {
    content: "";
    background: #4285f4;
    height: 2px;
    position: absolute;
    width: 100%;
    left: 0;
    bottom: -1px;
    transition: all 250ms ease 0s;
    transform: scale(0)
}
.nav-tabs>li.active>a::after,
.nav-tabs>li:hover>a::after {
    transform: scale(1)
}
.tab-nav>li>a::after {
    background: #21527d none repeat scroll 0 0;
    color: #fff
}
.tab-pane {
    padding: 15px 0
}
.tab-content {
    padding: 20px
}
.card {
    background: #FFF none repeat scroll 0 0;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.3);
    padding-top: 20px;
    margin-bottom: 30px
}
.panel.noborder {
    border: none;
    box-shadow: none;
    margin-left: -10px;
}
body {
    background-color: #edecec
}

.titlebox{
   background-color: #edecec
}
.panel-title .fa { margin-right: 10px; }
.panel-title a { margin-right: 5px; }
#panel { padding-top:0px; }
#panel .fa { margin-right:10px; }
#panel table tr td { padding-left: 5px }
#panel .table {margin-bottom: 0px; }

.left-inner-addon {
    position: relative;
}
.left-inner-addon input {
    padding-left: 30px;    
}
.left-inner-addon i {
    position: absolute;
    padding: 12px 12px;
    pointer-events: none;
}

.search-row{
    padding: 40px;
    height: 100px;
    background:#fff;
    border-radius:5px;
}
.search-row h1{
    color: red;
}